<nav class="navbar navbar-expand-lg leme-navbar">
  <div class="container-fluid d-flex justify-content-around align-items-start py-3">
    <div class="column">
      <h5>Contato</h5>
      <div class="d-flex align-items-baseline">
        <i class="fa-solid fa-phone me-2"></i>
        <p>+55 21 3434-5656</p>
      </div>
      <div class="d-flex align-items-baseline">
        <i class="fa-solid fa-location-dot me-2"></i>
        <p>Avenida das Américas, 1155<br>Sala 2007, Barra da Tijuca<br>CEP 22631-903</p>
      </div>
      <div class="d-flex align-items-baseline">
        <i class="fa-solid fa-location-dot me-2"></i>
        <p>SHIS, Ql 12, Casa 16<br>Península dos Ministros, Lago Sul<br>CEP 71630-255</p>
      </div>
    </div>

    <div class="column">
      <h5>Mapa do Site</h5>
      <div><%= link_to 'Quem somos', sobre_path, class: 'footer-link' %></div>
      <div><%= link_to 'Áreas de Atuação', areas_path, class: 'footer-link' %></div>
      <div><%= link_to 'Setores Econômicos', setores_path, class: 'footer-link' %></div>
      <div><%= link_to 'Nosso time', time_path, class: 'footer-link' %></div>
      <div class="d-flex">
        <%= link_to 'https://www.linkedin.com/company/leme-legal-metrics/', class: 'nav-link mx-2', target: '_blank' do %>
          <i class="fa-brands fa-linkedin"></i>
        <% end %>
        <%= link_to '#', class: 'footer-link mx-2' do %>
          <i class="fa-brands fa-instagram"></i>
        <% end %>
      </div>
    </div>
  </div>
</nav>
