<nav class="navbar navbar-expand-lg leme-navbar" data-controller="navbar">
  <div class="container-fluid">
    <%# Navbar's icon %>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo-leme.png', width: '100px' %>
    <% end %>

    <%# Navbar's items %>
    <%= link_to 'Quem somos', sobre_path, class: 'nav-link navbar-link', id: 'sobre' %>

    <div class="dropdown">
      <a id="areas" class="nav-link navbar-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Áreas de Atuação</a>
      <div class="dropdown-menu">
        <%= link_to 'Elaboração de Projetos de viabilidade econômico-financeira', areas_path(anchor: 'a1'), class: 'dropdown-item' %>
        <%= link_to 'Assistência técnica administrativa, judicial e arbitral',    areas_path(anchor: 'a2'), class: 'dropdown-item' %>
        <%= link_to 'Consultoria em Finanças',                                    areas_path(anchor: 'a3'), class: 'dropdown-item' %>
        <%= link_to 'Consultoria Concorrencial',                                  areas_path(anchor: 'a4'), class: 'dropdown-item' %>
        <%= link_to 'Consultoria Regulatória e em Infraestrutura',                areas_path(anchor: 'a5'), class: 'dropdown-item' %>
      </div>
    </div>

    <div class="dropdown">
      <a id="setores" class="nav-link navbar-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Setores Econômicos</a>
      <div class="dropdown-menu">
        <%= link_to 'Agronegócio',              setores_path(anchor: 's1'), class: 'dropdown-item' %>
        <%= link_to 'Infraestrutura',           setores_path(anchor: 's2'), class: 'dropdown-item' %>
        <%= link_to 'Construção Civil',         setores_path(anchor: 's3'), class: 'dropdown-item' %>
        <%= link_to 'Varejo',                   setores_path(anchor: 's4'), class: 'dropdown-item' %>
        <%= link_to 'Instituições Financeiras', setores_path(anchor: 's5'), class: 'dropdown-item' %>
      </div>
    </div>

    <%= link_to 'Nosso time', time_path, class: 'nav-link navbar-link', id: 'time' %>

    <%# Social media icons %>
    <div class="d-flex">
      <%= link_to '#', class: 'nav-link mx-2' do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
      <%= link_to '#', class: 'nav-link mx-2' do %>
        <i class="fa-brands fa-twitter"></i>
      <% end %>
      <%= link_to '#', class: 'nav-link mx-2' do %>
        <i class="fa-brands fa-instagram"></i>
      <% end %>
    </div>
  </div>
</nav>
